<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Gérer un scénario :</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Gérer un scénario :</h1>


	<form th:action="@{/addScenario}" th:object="${scenarioForm}"
		method="POST">
		<input type="hidden" th:field="*{id}" />
		Titre : <input type="text" th:field="*{titre}" /> <br /> Description
		: <input type="text" th:field="*{description}" /> <br /> <input
			type="submit" th:value="${typeAction}" />
	</form>

	<br />
	<div th:unless="${#lists.isEmpty(etapes)}">
		Liste des étapes <br />
		<table border="1">
			<tr>
				<th>Titre</th>
				<th>Description</th>
			</tr>
			<tr th:each="etape : ${etapes}">
				<td th:utext="${etape.titre}">...</td>
				<td th:utext="${etape.description}">...</td>
			</tr>
		</table>
	</div>

	<!-- Check if errorMessage is not null and not empty -->

	<div th:if="${errorMessage}" th:utext="${errorMessage}"
		style="color: red; font-style: italic;">...</div>

</body>
</html>